@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f1f4ef;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: #2486cc;
    text-shadow: 2px 2px 2px #2d3d51;
}

#todos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px #2d3d51;
    border-radius: 10%;
    padding: 10px 10px 10px 10px;
    background-color: #97AD93;
    font-size: 1.5em;
    color: rgb(76, 76, 76);
    width: 500px;
    height: auto;
    box-shadow: 1px 1px 1px #2d3d51;
    text-shadow: .5px .5px .5px #2d3d51;
}

label {
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: rgb(76, 76, 76);
}

button {
    width: 100px;
    height: 25px;
    font-size: 1em;
    color: rgb(76, 76, 76);
    margin-left: 10px;
}

button:hover {
    background-color: #2486cc;
    color: rgb(76, 76, 76);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    color: #2486cc;
}